@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home ul li {
    display: flex;
    gap: 20px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 14;
    font-weight: bold;
    align-items: center;
    padding: 24px 14px;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    color: gray;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}

.spotify-playlists {
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-out;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: non;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.playbar{
    position: fixed;
    bottom: 30px;
    width: 90%;
    filter: invert(1);
    background-color: #dad5d5;
    border-radius: 10px;
    padding: 12px;
    width: 70vw;
    min-height: 40px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
    cursor: pointer;
}

.songlist{
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.songlist ul{
    padding: 0 12px;
}

.songlist ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    border-radius: 5px;
    margin: 12px 0;
    padding: 12px;
}

.songlist .info{
    font-size: 12p;
    width: 344px;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    font-size: 15px;
    width: 65px;
    padding: 12px;
}

.seekbar{
    height: 4px;
    width: 98%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;
}

.circle{
    height: 13px;
    width: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songinfo , .songtime{
    color: black;
    padding: 0 12px;
}

.actionvar{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.hamburger{
    display: none;
}

.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

@media (max-width: 1400px) {
    .left{
        position: absolute;
        left: -120%;
        transition: all 1s;
        z-index: 1;
        width: 370px;
        background-color: black;
    }

    .close{
        position: absolute;
        width: 30px;
        top: 30px;
        right: 30px;
    }

    .playbar{
        font-size: small;
        width: calc(100vw - 60px);
    }

    .seekbar{
        width: calc(100vw - 70px);
    }

    .right{
        width: 100vw;
    }

    .hamburger{
        display: block;
    }

    .card{
        width: 90vw;
    }

    /* .playbar{
        width: 95vw;
    } */
}